# ---- TRANSFORMACIONES MOVIES ----

In [154]:
# Se importa Pandas y se descargan dataset
import pandas as pd

movies = pd.read_csv(Datasets/movies_dataset.csv)

In [155]:
# Se cambian las opciones de visualización para poder observar el contenido completo de las columnas
pd.set_option('display.max_colwidth', None) # En caso de volver a establecerlo sería "pd.reset_option('display.max_colwidth')"

# Se amplia la visión para observar la totalidad de las columnas
pd.set_option('display.max_columns', None)

# Se importa módulo "warnings" para que no aparezcan dichos mensaje
import warnings
warnings.filterwarnings("ignore")


# Se reemplazan valores "NaN" por "None" )
movies = movies.where(pd.notnull(movies), None)

In [156]:
# Se visualizan los datos del CSV Movies
movies.head()

,adult,belongs_to_collection,budget,genres,homepage,id,imdb_id,original_language,original_title,overview,popularity,poster_path,production_companies,production_countries,release_date,revenue,runtime,spoken_languages,status,tagline,title,video,vote_average,vote_count
0,False,"{'id': 10194, 'name': 'Toy Story Collection', 'poster_path': '/7G9915LfUQ2lVfwMEEhDsn3kT4B.jpg', 'backdrop_path': '/9FBwqcd9IRruEDUrTdcaafOMKUq.jpg'}",30000000,"[{'id': 16, 'name': 'Animation'}, {'id': 35, 'name': 'Comedy'}, {'id': 10751, 'name': 'Family'}]",http://toystory.disney.com/toy-story,862,tt0114709,en,Toy Story,"Led by Woody, Andy's toys live happily in his room until Andy's birthday brings Buzz Lightyear onto the scene. Afraid of losing his place in Andy's heart, Woody plots against Buzz. But when circumstances separate Buzz and Woody from their owner, the duo eventually learns to put aside their differences.",21.946943,/rhIRbceoE9lR4veEXuwCC2wARtG.jpg,"[{'name': 'Pixar Animation Studios', 'id': 3}]","[{'iso_3166_1': 'US', 'name': 'United States of America'}]",1995-10-30,373554033.0,81.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,None,Toy Story,False,7.7,5415.0
1,False,None,65000000,"[{'id': 12, 'name': 'Adventure'}, {'id': 14, 'name': 'Fantasy'}, {'id': 10751, 'name': 'Family'}]",None,8844,tt0113497,en,Jumanji,"When siblings Judy and Peter discover an enchanted board game that opens the door to a magical world, they unwittingly invite Alan -- an adult who's been trapped inside the game for 26 years -- into their living room. Alan's only hope for freedom is to finish the game, which proves risky as all three find themselves running from giant rhinoceroses, evil monkeys and other terrifying creatures.",17.015539,/vzmL6fP7aPKNKPRTFnZmiUfciyV.jpg,"[{'name': 'TriStar Pictures', 'id': 559}, {'name': 'Teitler Film', 'id': 2550}, {'name': 'Interscope Communications', 'id': 10201}]","[{'iso_3166_1': 'US', 'name': 'United States of America'}]",1995-12-15,262797249.0,104.0,"[{'iso_639_1': 'en', 'name': 'English'}, {'iso_639_1': 'fr', 'name': 'Français'}]",Released,Roll the dice and unleash the excitement!,Jumanji,False,6.9,2413.0
2,False,"{'id': 119050, 'name': 'Grumpy Old Men Collection', 'poster_path': '/nLvUdqgPgm3F85NMCii9gVFUcet.jpg', 'backdrop_path': '/hypTnLot2z8wpFS7qwsQHW1uV8u.jpg'}",0,"[{'id': 10749, 'name': 'Romance'}, {'id': 35, 'name': 'Comedy'}]",None,15602,tt0113228,en,Grumpier Old Men,"A family wedding reignites the ancient feud between next-door neighbors and fishing buddies John and Max. Meanwhile, a sultry Italian divorcée opens a restaurant at the local bait shop, alarming the locals who worry she'll scare the fish away. But she's less interested in seafood than she is in cooking up a hot time with Max.",11.7129,/6ksm1sjKMFLbO7UY2i6G1ju9SML.jpg,"[{'name': 'Warner Bros.', 'id': 6194}, {'name': 'Lancaster Gate', 'id': 19464}]","[{'iso_3166_1': 'US', 'name': 'United States of America'}]",1995-12-22,0.0,101.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,Still Yelling. Still Fighting. Still Ready for Love.,Grumpier Old Men,False,6.5,92.0
3,False,None,16000000,"[{'id': 35, 'name': 'Comedy'}, {'id': 18, 'name': 'Drama'}, {'id': 10749, 'name': 'Romance'}]",None,31357,tt0114885,en,Waiting to Exhale,"Cheated on, mistreated and stepped on, the women are holding their breath, waiting for the elusive ""good man"" to break a string of less-than-stellar lovers. Friends and confidants Vannah, Bernie, Glo and Robin talk it all out, determined to find a better way to breathe.",3.859495,/16XOMpEaLWkrcPqSQqhTmeJuqQl.jpg,"[{'name': 'Twentieth Century Fox Film Corporation', 'id': 306}]","[{'iso_3166_1': 'US', 'name': 'United States of America'}]",1995-12-22,81452156.0,127.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,Friends are the people who let you be yourself... and never let you forget it.,Waiting to Exhale,False,6.1,34.0
4,False,"{'id': 96871, 'name': 'Father of the Bride Collection', 'poster_path': '/nts4iOmNnq7GNicycMJ9pSAn204.jpg', 'backdrop_path': '/7qwE57OVZmMJChBpLEbJEmzUydk.jpg'}",0,"[{'id': 35, 'name': 'Comedy'}]",None,11862,tt0113041,en,Father of the Bride Part II,"Just when George Banks has recovered from his daughter's wedding, he receives the news that she's pregnant ... and that George's wife, Nina, is expecting too. He was planning on selling their home, but that's a plan that -- like George -- will have to change with the arrival of both a grandchild and a kid of his own.",8.387519,/e64sOI48hQXyru7naBFyssKFxVd.jpg,"[{'name': 'Sandollar Productions', 'id': 5842}, {'name': 'Touchstone Pictures', 'id': 9195}]","[{'iso_3166_1': 'US', 'name': 'United States of America'}]",1995-02-10,76578911.0,106.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,Just When His World Is Back To Normal... He's In For The Surprise Of His Life!,Father of the Bride Part II,False,5.7,173.0

- Valores Nulos

In [157]:
# Se visualizan la cantidad de valores nulos por columna
print(f'VALORES NULOS POR COLUMNA: \n {movies.isnull().sum()}')

VALORES NULOS POR COLUMNA:
 adult                        0
belongs_to_collection    40972
budget                       0
genres                       0
homepage                 37684
id                           0
imdb_id                     17
original_language           11
original_title               0
overview                   954
popularity                   5
poster_path                386
production_companies         3
production_countries         3
release_date                87
revenue                      6
runtime                    263
spoken_languages             6
status                      87
tagline                  25054
title                        6
video                        6
vote_average                 6
vote_count                   6
dtype: int64

In [158]:
# Se reemplazan valores nulo
# movies.fillna('Sin Dato', inplace = True)

In [159]:
# Nuevamente se realiza el recuento de nulos
print(f'VALORES NULOS POR COLUMNA: \n {movies.isnull().sum()}')

VALORES NULOS POR COLUMNA:
 adult                        0
belongs_to_collection    40972
budget                       0
genres                       0
homepage                 37684
id                           0
imdb_id                     17
original_language           11
original_title               0
overview                   954
popularity                   5
poster_path                386
production_companies         3
production_countries         3
release_date                87
revenue                      6
runtime                    263
spoken_languages             6
status                      87
tagline                  25054
title                        6
video                        6
vote_average                 6
vote_count                   6
dtype: int64

- Valores Duplicados --------------------------VER------------------------------------------

In [160]:
# Se visualizan la cantidad de valores duplicados por columna (Se debe tener en cuenta los datos de cada columna. EJEMPLO: "adult" es binaria -False / True-)
print(f'VALORES DUPLICADOS POR COLUMNA: \n {movies.apply(lambda col: col.duplicated().sum())}')

VALORES DUPLICADOS POR COLUMNA:
 adult                    45461
belongs_to_collection    43767
budget                   44240
genres                   41397
homepage                 37792
id                          30
imdb_id                     48
original_language        45373
original_title            2093
overview                  1158
popularity                1289
poster_path                441
production_companies     22757
production_countries     43072
release_date             28129
revenue                  38602
runtime                  45112
spoken_languages         43534
status                   45459
tagline                  25182
title                     3188
video                    45463
vote_average             45373
vote_count               43645
dtype: int64

In [161]:
movies = movies.rename(columns= {'id' : 'id_original'})
movies.head(1)

,adult,belongs_to_collection,budget,genres,homepage,id_original,imdb_id,original_language,original_title,overview,popularity,poster_path,production_companies,production_countries,release_date,revenue,runtime,spoken_languages,status,tagline,title,video,vote_average,vote_count
0,False,"{'id': 10194, 'name': 'Toy Story Collection', 'poster_path': '/7G9915LfUQ2lVfwMEEhDsn3kT4B.jpg', 'backdrop_path': '/9FBwqcd9IRruEDUrTdcaafOMKUq.jpg'}",30000000,"[{'id': 16, 'name': 'Animation'}, {'id': 35, 'name': 'Comedy'}, {'id': 10751, 'name': 'Family'}]",http://toystory.disney.com/toy-story,862,tt0114709,en,Toy Story,"Led by Woody, Andy's toys live happily in his room until Andy's birthday brings Buzz Lightyear onto the scene. Afraid of losing his place in Andy's heart, Woody plots against Buzz. But when circumstances separate Buzz and Woody from their owner, the duo eventually learns to put aside their differences.",21.946943,/rhIRbceoE9lR4veEXuwCC2wARtG.jpg,"[{'name': 'Pixar Animation Studios', 'id': 3}]","[{'iso_3166_1': 'US', 'name': 'United States of America'}]",1995-10-30,373554033.0,81.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,None,Toy Story,False,7.7,5415.0

## - DESANIDADO DE COLUMNAS -

In [162]:
# Inicialmente se cambia el nombre de la columna "id" del dataframe original por "id_original", ya que en varios diccionarios dentro del dataframe poseen claves "id"
movies = movies.rename(columns= {'id_original' : 'id_ORIGINAL'})

# Lo mismo con la columna "poster_path" (repite nombre con clave de "belongs_to_collection")
movies = movies.rename(columns= {'poster_path' : 'poster_pathORIGINAL'})

#### 1 - COLUMNA ---------> "belongs_to_collection"

In [163]:
import ast # Se importa biblioteca "ast". Útil para analizar y procesar código de Python como estructuras de datos


# Convierte los valores "str" a "dict"
movies['belongs_to_collection'] = movies['belongs_to_collection'].apply(lambda x: ast.literal_eval(x) if isinstance(x, str) else x)

# Desanidar los valores de tipo diccionario utilizando json_normalize
movies = pd.concat([movies.drop(['belongs_to_collection'], axis=1), movies['belongs_to_collection'].apply(pd.Series)], axis=1)

# Convertir los valores NaN a valores None
# movies = movies.where(pd.notnull(movies), None)

In [164]:
# Renombramos las columnas para identificar que eran pertenecientes a la columna "belongs_to_collection"
movies.rename(columns = {'id' : 'id_belongs'}, inplace= True)
movies.rename(columns = {'name' : 'name_belongs'}, inplace= True)
movies.rename(columns = {'poster_path' : 'poster_path_belongs'}, inplace= True)
movies.rename(columns = {'backdrop_path' : 'backdrop_path_belongs'}, inplace= True)

#### 2 - COLUMNA ---------> "genres"

In [165]:
# Se importa biblioteca "ast". Útil para analizar y procesar código de Python como estructuras de datos
import ast

# Convierte los valores "str" a "dict"
movies['genres'] = movies['genres'].apply(lambda x: ast.literal_eval(x) if isinstance(x, str) else x)

In [166]:
# La función "safe_eval()" convierte una cadena en una estructura de datos de Python
def safe_eval(x): 
    try:
        return ast.literal_eval(x)
    except (ValueError, SyntaxError):
        return None

# Transforma elementos de la columna "genres" que son cadenas te texto que representan listas de diccionario en listas de diccionarios reales
movies['genres'] = movies['genres'].apply(lambda x: safe_eval(x) if isinstance(x, str) else x) 



# La función extrae los valores de los campos ID y Name de una lista de diccionarios
def extraer_ids_nombres(genres):
    ids = [genre['id'] for genre in genres] if genres else []
    names = [genre['name'] for genre in genres] if genres else []
    return pd.Series({'ID': ids, 'Name': names})

# Aplica la función "extraer_ids_nombres" a cada valor de la columna y guarda los resultados en dos nuevas columnas "ID" y "Name"
movies[['ID', 'Name']] = movies['genres'].apply(extraer_ids_nombres)

# Se elimina la columna "genres"
movies = movies.drop(columns=['genres'])

In [167]:
# Al haberse agregado una columna "0" la cual poseía unicamentes valores NaN, se elimina
eliminar = movies.columns[-3]
movies.drop(eliminar, axis = 1, inplace = True)

# Se modifica el nombre de las columnas agregadas, especificando a cual pertenecían anteriormente
movies.rename(columns = {'ID' : 'id_genre'}, inplace= True)
movies.rename(columns = {'Name' : 'name_genre'}, inplace= True)

#### 3 - COLUMNA ---------> "production_companies"

In [168]:
# Se importa biblioteca "ast". Útil para analizar y procesar código de Python como estructuras de datos
import ast

# Convierte los valores "str" a "dict"
movies['production_companies'] = movies['production_companies'].apply(lambda x: ast.literal_eval(x) if isinstance(x, str) else x)

In [169]:
# Se utiliza nuevamente la función "safe_eval". 
# Transforma elementos de la columna "production_companies" que son cadenas te texto que representan listas de diccionario en listas de diccionarios reales
movies['production_companies'] = movies['production_companies'].apply(lambda x: safe_eval(x) if isinstance(x, str) else x) 


# Se utiliza nuevamente la función "extraer_ids_nombres"
# Aplica la función "extraer_ids_nombres" a cada valor de la columna y guarda los resultados en dos nuevas columnas "ID" y "Name"
movies[['ID', 'Name']] = movies['production_companies'].apply(extraer_ids_nombres)

# Se elimina la columna "genres"
movies = movies.drop(columns=['production_companies'])

In [170]:
# Se modifica el nombre de las columnas agregadas, especificando a cual pertenecían anteriormente
movies.rename(columns = {'ID' : 'id_production_companies'}, inplace= True)
movies.rename(columns = {'Name' : 'name_production_companies'}, inplace= True)

#### 4 - COLUMNA ---------> "production_countries"

In [171]:
# Se importa biblioteca "ast". Útil para analizar y procesar código de Python como estructuras de datos
import ast

# Convierte los valores "str" a "dict"
movies['production_countries'] = movies['production_countries'].apply(lambda x: ast.literal_eval(x) if isinstance(x, str) else x)

In [172]:
# Se utiliza nuevamente la función "safe_eval". 
# Transforma elementos de la columna "production_companies" que son cadenas te texto que representan listas de diccionario en listas de diccionarios reales
movies['production_countries'] = movies['production_countries'].apply(lambda x: safe_eval(x) if isinstance(x, str) else x)

In [173]:
# Se crea una nueva función para extraer los códigos ISO y nombre de países
def extraer_iso_y_nombres(countries, key):
    if isinstance(countries, list):
        iso_codes = [country[key] for country in countries if isinstance(country, dict)]
        names = [country['name'] for country in countries if isinstance(country, dict)]
    else:
        iso_codes = []
        names = []
    return pd.Series({f'{key}': iso_codes, 'Name': names})

# Aplica la función "extraer_iso_y_nombres" a cada valor de la columna y guarda los resultados en dos nuevas columnas "ISO" y "Name"
movies[['ISO', 'Name']] = movies['production_countries'].apply(extraer_iso_y_nombres, key = 'iso_3166_1' )

In [174]:
# Los valores dentro de las dos nuevas columnas creadas se encuentra en formato lista, con el siguiente código lo transformamos a "str" separados por ","
movies['Name'] = movies['Name'].apply(lambda x: ', '.join(x) if isinstance(x, list) else str(x))
movies['ISO'] = movies['ISO'].apply(lambda x: ', '.join(x) if isinstance(x, list) else str(x))

In [175]:
# Se modifica el nombre de las columnas agregadas, especificando a cual pertenecían anteriormente
movies.rename(columns = {'ISO' : 'Iso_prod_countries'}, inplace= True)
movies.rename(columns = {'Name' : 'name_prod_countries'}, inplace= True)

In [176]:
# Se elimina la columna "production_companies"
movies = movies.drop(columns=['production_countries'])

#### 5 - COLUMNA ---------> "spoken_languages"

In [177]:
# Convierte los valores "str" a "dict"
movies['spoken_languages'] = movies['spoken_languages'].apply(lambda x: ast.literal_eval(x) if isinstance(x, str) else x)

In [178]:
# Se reutiliza la función "extraer_iso_y_nombres", modificando el valor de la clave ISO
movies[['ISO', 'Name']] = movies['spoken_languages'].apply(extraer_iso_y_nombres, key = 'iso_639_1' )

In [179]:
# Los valores dentro de las dos nuevas columnas creadas se encuentra en formato lista, con el siguiente código lo transformamos a "str" separados por ","
movies['Name'] = movies['Name'].apply(lambda x: ', '.join(x) if isinstance(x, list) else str(x))
movies['ISO'] = movies['ISO'].apply(lambda x: ', '.join(x) if isinstance(x, list) else str(x))

In [180]:
# Se modifica el nombre de las columnas agregadas, especificando a cual pertenecían anteriormente
movies.rename(columns = {'ISO' : 'Iso_spoken'}, inplace= True)
movies.rename(columns = {'Name' : 'name_spoken'}, inplace= True)

In [181]:
# Se elimina la columna "spoken_languages"
movies = movies.drop(columns=['spoken_languages'])

In [182]:
# Se guarda el dataframe para tratarlo en otro notebook
# movies.to_csv('movies_desanidada', index = False)

## - REEMPLAZAR VALORES NULOS DE CAMPOS "revenue" y "budget" POR "0" -

In [183]:
# Se visualiza la cantidad de valores nulos en la columna "revenue" y "budget"
print(f'CANTIDAD VALORES NULOS EN "REVENUE": {movies["revenue"].isnull().sum()}')
print(f'CANTIDAD VALORES NULOS EN "BUDGET": {movies["budget"].isnull().sum()}')

CANTIDAD VALORES NULOS EN "REVENUE": 6
CANTIDAD VALORES NULOS EN "BUDGET": 0

In [184]:
# Se reemplazan los valor nulos por "0" en la columna "revenue" 
movies['revenue'].fillna(0, inplace = True)

# Se vuelve a visualizar la cantidad de nulos
print(f'CANTIDAD VALORES NULOS EN "REVENUE": {movies["revenue"].isnull().sum()}')
print(f'CANTIDAD VALORES NULOS EN "BUDGET": {movies["budget"].isnull().sum()}')

CANTIDAD VALORES NULOS EN "REVENUE": 0
CANTIDAD VALORES NULOS EN "BUDGET": 0

## - ELIMINAR VALORES NULOS DEL CAMPO "release_date" -

In [185]:
# Cantidad total de valores nulos en "release_date"
print(f'CANTIDAD VALORES NULOS EN "RELEASE_DATE": {movies["release_date"].isnull().sum()}')

CANTIDAD VALORES NULOS EN "RELEASE_DATE": 87

In [186]:
# Eliminamos las filas donde hay un valor nulo correspondiente a la columna "release_date"
movies = movies.dropna(subset= ['release_date']).reset_index(drop = True)

In [187]:
# Volvemos a contar la cantidad de valores nulos
print(f'CANTIDAD VALORES NULOS EN "RELEASE_DATE": {movies["release_date"].isnull().sum()}')

CANTIDAD VALORES NULOS EN "RELEASE_DATE": 0

## - CAMBIAR TIPO DE DATOS Y FORMATO AL CAMPO "release_date" Y CREAR COLUMNA "release_year" CON EL AÑO DE ESTRENO -

In [188]:
# Se observan el tipo de dato de la columna 
print(movies['release_date'].dtype)

object

In [189]:
# Convertir la columna "release_date" a datetime
movies['release_date'] = pd.to_datetime(movies['release_date'], format='%Y-%m-%d', errors='coerce')

# Se crea una nueva columna con el año de estreno. Se cambian los valores "NaT" a "0", y se convierten a "int" ya que sino los toma como decimales
movies['release_year'] = movies['release_date'].dt.year.fillna(0).astype(int)

In [190]:
# Se vuelve a observar el tipo de dato de la columna "release_date"
print(movies['release_date'].dtype)

datetime64[ns]

## - CREAR COLUMNA "return" CALCULANDO EL ROI (Retorno de Inversión) -

In [191]:
# Se observan los tipos de datos de las columna "revenue" y "budget"
print(f'Tipo Dato "Revenue": {movies["revenue"].dtype}')
print(f'Tipo Dato: "Budget": {movies["budget"].dtype}')

Tipo Dato "Revenue": float64
Tipo Dato: "Budget": object

In [192]:
# Se cambia el tipo de dato de cada columna a "int". En el caso de "budget", dió erorr en la conversión ya que contaba con valores no númericos, por lo que se convirtieron a "NaN" para posteriormente transformarlos a "0" 
movies["revenue"] = movies["revenue"].astype(int)
movies["budget"] = (pd.to_numeric(movies["budget"], errors = 'coerce').fillna(0).astype(int))

# Se vuelven a observar el tipo de dato de cada columna
print(f'Tipo Dato "Revenue": {movies["revenue"].dtype}')
print(f'Tipo Dato: "Budget": {movies["budget"].dtype}')

Tipo Dato "Revenue": int32
Tipo Dato: "Budget": int32

In [193]:
# Se calcula el ROI y se multiplica por 100 para mostrarlo en porcentaje 
movies['return (porcent)'] = ((movies['revenue'] - movies['budget']) / movies['revenue']) * 100

## - ELIMINAR COLUMNAS QUE NO SERÁN UTILIZADAS ("video", "imdb_id", "adult", "original_title", "poster_path", "homepage") -

In [194]:
# Se eliminan las columnas que no se utilizarán
movies = movies.drop(['video', 'imdb_id','adult', 'original_title', 'poster_pathORIGINAL', 'homepage'], axis = 1)

In [195]:
# GUARDAR EN OTRO FORMATO, YA QUE DE SER CSV NO ME RECONOCE LAS MODIFICACIONES DE TIPOS DE DATOS -----------------------------<<<<<<<<-----
movies.to_csv('Movies_Transformaciones.csv', index = False)